@font-face {
    font-family: 'rocket';
    src: url("../../assets/fonts/ROCKET_WILDNESS.ttf");
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    height: 64px;
    z-index: 100;
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.nav-spacing {
    flex: 1.0;
}

.navbar-items ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
}

.navbar-items li{
    padding: 0 4px;
}

 .navbar-items a {
   background-color: var(--primary);
   color: white;
   text-decoration: none;
   border-width: 0px;
   font-size: 1.3em;
   font-family: 'rocket';
   font-weight: bold;
   padding: 4px 8px;
   margin: 1px;

    /* Comment out for circle highlight */
   transition: 0.33s;
 }

.navbar-items a:hover {
    /* Comment out for circle highlight */
    color: var(--secondary);
    text-decoration: none;
    outline-style: none;

    cursor: pointer;

    /* Comment in for circle highlight */
    /* border-radius: 27px;
    border-width: 1px;
    border-color: var(--secondary);
    border-style: solid;
    margin: 0px; */

}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 2.3rem;
    margin-left: 4rem;
}

.logo img {
  position: absolute;
  top: -10px;
  left: -0.5px;
  width:70px;
}


@media screen and (max-width: 764px) {
    .navbar-items {
        display: none;
    }

    .logo img {
      display: none;
    }
}
@media screen and (min-width: 764px) {
    .hamburger-menu{
        width: 0;
    }
}
